* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  display: inline-block;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans", sans-serif;
}

.container {
  max-width: 1357px;
  margin: 0 auto;
}

.header {
  background-image: url("../img/background.jpg");
  min-height: 892px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  padding: 35px 0 255px 0;
}

.header__top {
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
}

.navigation {
  display: flex;
  /* align-items: center; */
}

.navigation li:not(:first-child) {
  padding-left: 51px;
}

.navigation a {
  color: #ffffff;
  font-size: 13px;
  padding-bottom: 43px;
  border-bottom: 3px solid transparent;
  transition: 0.5s;
}

.navigation a:hover {
  border-bottom: 3px solid white;
}

.navig {
  border-radius: 22px;
  padding: 18px 106px 17px 27px;
  outline: none;
  border: none;
  color: #626262;
  font-size: 13px;
  position: relative;
  top: -14px;
  left: 0;
}

.search {
  position: absolute;
  right: 150px;
}

label {
  position: relative;
}

label:after {
  content: "\f002";
  font-family: "icomoon";
  position: absolute;
  color: #b6b6b6;
  right: 20px;
}

hr {
  background-color: #402e3b;
  height: 1px;
  border: none;
  margin-top: 1px;
  margin-bottom: 215px;
}

.header__content {
  max-width: 520px;
}

.header__title {
  font-size: 50px;
  color: #ffffff;
  margin-bottom: 41px;
  text-align: right;
  line-height: 70px;
}

.header__btn a {
  background-color: #8824cd;
  color: #fff;
  font-weight: 700;
  font-size: 18px;
  padding: 22px 58px;
  border-radius: 30px;
  margin-bottom: 18px;
  transition: 1s;
  border: 1px solid transparent;
}

.header__btn a:hover {
  border: 1px solid pink;
}

.header__btn {
  text-align: right;
}

.header__text {
  text-align: right;
  font-size: 15px;
  color: #ffffff;
  line-height: 17px;
  margin-right: 16px;
  opacity: 0.8;
}

.start {
  min-height: 539px;
  background-image: url("../img/trees.jpg");
  padding: 156px 0 194px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.start__content {
  text-align: center;
  max-width: 524px;
  margin: 0 auto;
}

.start__title {
  font-weight: 300;
  color: #fff;
  font-size: 35px;
  line-height: 60px;
  margin-bottom: 20px;
}

.start__text {
  font-size: 15px;
  color: #ffffff;
  line-height: 26px;
  margin-bottom: 33px;
}

.btn {
  padding: 23px 90px;
  background-color: #fff;
  border-radius: 31px;
  color: #d54c63;
  font-size: 18px;
  font-weight: 700;
  transition: 0.5s;
}

.start__content .btn:hover {
  color: #fff;
  background-color: #443f3c;
}

.description {
  background-image: url("../img/photo.png");
  min-height: 495px;
  background-repeat: no-repeat;
  padding: 95px 0 113px;
}

.description__content {
  margin: 0 auto;
  text-align: left;
  max-width: 650px;
  color: #3a4d60;
  line-height: 26px;
  margin-right: 243px;
}

.description__title,
.heading__title {
  font-weight: 700;
  font-size: 15px;
  margin-bottom: 17px;
}

.description__text,
.heading__text {
  font-size: 19px;
  margin-bottom: 37px;
}

.description__subtext {
  font-size: 15px;
}

.experience {
  min-height: 551px;
  background-image: url("../img/nature.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 96px 0 147px;
  position: relative;
}

.experience__layer {
  background-color: #4b1e5b;
  position: absolute;
  width: 100%;
  height: 82%;
  top: 106px;
  left: 0;
  opacity: 0.8;
}

.experience__content {
  position: relative;
  margin: 0 auto;
  text-align: center;
  max-width: 740px;
  margin-top: 92px;
  z-index: 10;
  opacity: 1;
}

.experience__title {
  font-size: 40px;
  font-weight: 300;
  line-height: 48px;
  color: #ffffff;
  margin-bottom: 38px;
}

.experience__text {
  color: #a87bb7;
  font-size: 20px;
  line-height: 33px;
  margin-bottom: 34px;
}

.experience__button {
  background-color: #8824cd;
  color: #ffffff;
  border: 1px solid transparent;
}

.experience__button:hover {
  border: 1px solid white;
}

.food {
  min-height: 670px;
  background-image: url("../img/food.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 358px 0 89px;
}

.food__btn a {
  font-size: 13px;
  line-height: 40px;
  color: #ffffff;
  font-weight: 600;
  border: 2px solid #ffffff;
  padding: 2px 33px;
  border-radius: 18px;
  margin-bottom: 29px;
  transition: 0.9s;
}

.food__btn a:hover {
  background-color: #000;
  color: #fff;
  opacity: 0.9;
}

.food__title {
  font-size: 40px;
  color: #ffffff;
  line-height: 50px;
  max-width: 517px;
  margin-bottom: 30px;
}

.food__image {
  display: block;
  width: 45px;
  height: 46px;
  background-image: url("../img/man.png");
  margin-right: 20px;
  background-repeat: no-repeat;
}

.food__photo {
  display: flex;
  align-items: center;
  font-size: 13px;
  color: #ffffff;
  font-weight: 600;
  line-height: 40px;
}

.heading {
  min-height: 516px;
  background-color: #ffffff;
  background-image: url("../img/clock.png");
  background-repeat: no-repeat;
  background-position: right 0;
  padding: 114px 0 121px;
}

.heading__content {
  margin: 0 auto;
  text-align: left;
  max-width: 650px;
  color: #3a4d60;
  line-height: 26px;
  margin-left: 0px;
}

.footer {
  min-height: 460px;
  background-color: #e7526b;
  padding: 78px 227px;
}

.footer__content {
  max-width: 400px;
  color: #fff;
}

.footer__title {
  font-size: 15px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 24px;
}

.footer__text {
  font-size: 15px;
  line-height: 25px;
  margin-bottom: 36px;
}

.footer__email {
  font-size: 15px;
  text-decoration: underline;
  cursor: pointer;
  margin-bottom: 20px;
}

.footer__links {
  display: flex;
  align-items: center;
}

.follow {
  font-size: 20px;
  margin-right: 20px;
  color: #ffffff;
}

.footer__links a {
  margin-right: 20px;
  color: #ffffff;
  font-size: 40px;
}